<div class = "container">
      <div class = "container-fluid" id="top-cont">
        <h1 class = "header"><%=@game.title %> <% if @best!=nil %>- <%= number_to_currency(@best.saleamt) %><%end%></h1>
        <div class = "row">
        	<div class = "well" id="top">
        		<img style = "height:auto; width:auto; max-width:300px; max-height:300px" src='<%= @game.image_url %>' class = "img-rounded"> <br />
                <% if signed_in? %>
                    <div id = "addgame">
                        <%= button_to "Add Game to Profile", {action: "add", gameid: @currentID}, form_class: "top" %>
                    </div> 
                <% end %>    
        	</div>
        	<div class = "well" id ="info">
        		<!--:genres,  -->
        		<p> Genre:
                    <% if @game.genres.empty? %>
                       n/a
                    <% else %>
        			    <% @game.genres.each do |genre| %>
        				    <%= genre %>
        			    <% end %>
                    <%end%>
        		</p>
        		<p>MetaCritic Rating: 
                    <%if (@game.metacritic_rating == "0")%> 
                        <%="n/a"%> 
                    <%else%> 
                        <%=@game.metacritic_rating%> 
                    <%end%>
                </p>
        		<p>Release Date: <%= @game.release_date %></p>
        		<p>Developer: <%= @game.developer %></p>
        		<p>Publisher: <%= @game.publisher %></p>
        		<p>Rating: <%= @game.esrb_rating %></p>
        		<p>Players: <%= @game.players %></p>
        		<p>Coop: <%= @game.coop %></p>

        	</div>
        	<div class = "well" id = "sales">
                <% if @game.game_sales.empty? %>
                    <%= "No sales data for this game."%>
                <% else %>    
                    <table>
                    <% @game.get_lowest_sale_per_vendor.each do |sale| %>
        		        <tr>
                            <td>
                                <a href= "<%=sale.url%>">
                                    <%= image_tag("#{sale.store.downcase}.jpg",{size: "59x35"})%>
                                </a>
                            </td> 
                            <td><span class = "price"><%= number_to_currency(sale.saleamt) %></span></td>
                        </tr>
                    <% end %>
                    </table>
                <%end%>    
        	</div>
        	
        </div>
      </div>
      <div class = "well">

            <% if (@game.description != nil and @game.description.include?("Requires the base game")) %>
                <p>This product is DLC.</p>

            <%else%>
        	  <p><%= @game.description %></p>
            <%end%>
        </div>
     
	    <button class="btn btn-default">
	    	Price History
	    </button>
	  <!--
	  	<div class = "container">
		    <div class = "row">
		    	<div class = "well" id="top">
	        		<p>Steam:</p>
	        		<p><a href="https://store.steampowered.com/<%= yield(:steam_link) %>"><%= yield(:steam) %></a></p>

	        	</div>
	        	<div class = "well" id ="top">
	        		<p>GoG:</p>
	        		<p><a href="https:www.gog.com/<%= yield(:gog_link) %>"><%= yield(:gog) %></a></p>
	        	</div>
	        	<div class = "well" id = "top">
	        		<p>Green Man Gaming:</p>
	        		<p><a href="https://www.greenmangaming.com/<%= yield(:gmg_link) %>"><%= yield(:gmg) %></a></p>
	        	</div>
	        	<div class = "well" id = "top">
	        		<p>Amazon:</p>
	        		<p><a href="https://www.amazon.com/<%= yield(:amazon_link) %>"><%= yield(:amazon) %></a></p>
	        	</div>
		    </div>
		</div>-->
	  
	</div>
