<!DOCTYPE html>
<html>
<head>
  <title>Bazaarworldofgaming</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstra.min" %>
  <%= javascript_include_tag "jquery.dotdotdot" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Bazaar World", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Games",    '#' %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>
<div class = "flash_container">
<% flash.each do |key, value| %>
     <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
</div>
<%= yield %>


</body>
</html>
