<!DOCTYPE html>
<html>
<head>
  <title>Bazaarworldofgaming</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "bootstra.min" %>
  <%= javascript_include_tag "jquery.dotdotdot" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
