<!DOCTYPE html>
<html>
  <head>
    
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

  	<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "sample app", '#', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    '#' %></li>
              <li><%= link_to "Help",    '#' %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class = "container">
      <div class = "container-fluid" id="top-cont">
        
        <div class = "row">
        	<div class = "well" id="top">
        		<img src='<%= yield(:pic)%>' class = "img-rounded">

        	</div>
        	<div class = "well" id ="info">
        		<p>Genre:<%= yield(:genres) %></p>
        		<p>Release Date:<%= yield(:release) %></p>
        		<p>Developer:<%= yield(:developer) %></p>
        		<p>Publisher:<%= yield(:publisher) %></p>
        		<p>Rating:<%= yield(:rating) %></p>
        		<p>Players: <%= yield(:players) %></p>

        	</div>
        	<div class = "well" id = "top">
        		price
        	</div>
        	
        </div>
      </div> 
      <div class = "well">
        	  <p><%= yield(:descr) %></p>
        	</div>
     
	    <button class="btn btn-default">
	    	Price History
	    </button>
	  
	  	<div class = "container">
		    <div class = "row">
		    	<div class = "well" id="top">
	        		<p>Steam:</p>
	        		<p><a href="https://store.steampowered.com/<%= yield(:steam_link) %>"><%= yield(:steam) %></a></p>

	        	</div>
	        	<div class = "well" id ="top">
	        		<p>GoG:</p>
	        		<p><a href="https:www.gog.com/<%= yield(:gog_link) %>"><%= yield(:gog) %></a></p>
	        	</div>
	        	<div class = "well" id = "top">
	        		<p>Green Man Gaming:</p>
	        		<p><a href="https://www.greenmangaming.com/<%= yield(:gmg_link) %>"><%= yield(:gmg) %></a></p>
	        	</div>
	        	<div class = "well" id = "top">
	        		<p>Amazon:</p>
	        		<p><a href="https://www.amazon.com/<%= yield(:amazon_link) %>"><%= yield(:amazon) %></a></p>
	        	</div>
		    </div>
		</div>
	  
	</div>

      

    
  </body>
</html>